html, body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: #f7e6d2;
}

.nav {
    background-color: white;
    border-bottom: #f25c54 solid 5px;
    
}

.lcontainer {
    padding-right: 3%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

a:hover {
    text-decoration: none;
    color: #f27059
}

.links {
    text-decoration: none;
    color: #f25c54;
    padding: 20px;
}

.motto {
    color: #f25c54;
    text-align: center;
    font-size: 30px;
    font-family: 'Chela One', cursive;
}

.cContainer {
    min-height: 80%;
}

.content {
    overflow: auto;
    padding-bottom: 28%;
    
}

.footer {
    background-color: white;
    height: 100px;
    position: relative;
    margin-top: -100px;
    border-top: #f25c54 solid 5px;
    text-align: center;
}

.messages {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.mbtn {
    background-color: #f25c54; 
}

.button {
    text-align: center;
    
}

.mbtn-secondary {
    text-decoration: none;
    background-color: #f25c54; 
    border: none;
    color: black;
    
}

.mbtn-secondary:hover {
    background-color: #f27059;
    color: black;
}

.mform-control:focus {
    border-color: #f25c54;
    box-shadow: 0 0 0 0.2rem #f7b267;
}

.mbtn-secondary:not(:disabled):not(.disabled).active, .mbtn-secondary:not(:disabled):not(.disabled):active, .show>.mbtn-secondary.dropdown-toggle {
    color: black;
    background-color: #f7b267;
    border-color: #f25c54;
}

.wMessage {
    padding-bottom: 2px;
    margin-bottom: 2px;
}


.card {
    border-color: #f25c54;
    margin-top: 2%;
}

.card-footer {
    background-color: #F7b267;
    border-top: #f25c54 solid .5px;
    font-size: 16px
}

.card-footer:last-child {
    text-align: center;
    background-color: transparent
}

.text-muted {
    color: black!important;
}

a.hover {
    color: #f7b267
}

.card-header {
    color: black;
    border-bottom: #f25c54 solid .5px;
    background-color: transparent;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    font-weight: bolder;
}

.form-control:focus {
    border-color: #f25c54;
    box-shadow: 0 0 0 0.2rem #f7b267

}

.badge-primary {
    color: black;
    background-color: #F7b267
}

.badge-pill {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.badge {
    font-size:100%;
    margin-top: 1%;
}

a.badge-primary:focus, a.badge-primary:hover {
    color : #f25c54; 
    background-color: #f7b267
}

/* attemped image in the input

input[type=text] {
  background-color: white;
  background-image: url('../Pictures/MainLogo.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 40px;
} */


.btn {
    text-decoration: none;
    background-color: #f25c54; 
    border: none;
    color: black;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}

.btn-primary:hover {
    background-color: #f27059;
    color: black;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: #f7b267;
    border-color: #f25c54;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #f7b267;
}

.button {
    width: 100%
}