html, body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: #f7e6d2;
}

.nav {
    background-color: white;
    border-bottom: #f25c54 solid 5px;
    
}

.lcontainer {
    padding-right: 3%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

a:hover {
    text-decoration: none;
    color: #f27059
}

.links {
    text-decoration: none;
    color: #f25c54;
    padding: 20px;
}

.motto {
    color: #f25c54;
    text-align: center;
    font-size: 30px;
    font-family: 'Chela One', cursive;
}

.cContainer {
    min-height: 80%;
}

.content {
    overflow: auto;
    padding-bottom: 28%;
    
}

.footer {
    background-color: white;
    height: 100px;
    position: relative;
    margin-top: -100px;
    border-top: #f25c54 solid 5px;
    text-align: center;
}

.messages {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.mbtn {
    background-color: #f25c54; 
}

.button {
    text-align: center;
    
}

.mbtn-secondary {
    text-decoration: none;
    background-color: #f25c54; 
    border: none;
    color: black;
    
}

.mbtn-secondary:hover {
    background-color: #f27059;
    color: black;
}

.mform-control:focus {
    border-color: #f25c54;
    box-shadow: 0 0 0 0.2rem #f7b267;
}

.mbtn-secondary:not(:disabled):not(.disabled).active, .mbtn-secondary:not(:disabled):not(.disabled):active, .show>.mbtn-secondary.dropdown-toggle {
    color: black;
    background-color: #f7b267;
    border-color: #f25c54;
}