
.card {
    border-color: #f25c54;
    margin-top: 2%;
}

.card-footer {
    background-color: #F7b267;
    border-top: #f25c54 solid .5px;
    font-size: 16px
}

.card-footer:last-child {
    text-align: center;
    background-color: transparent
}

.text-muted {
    color: black!important;
}

a.hover {
    color: #f7b267
}

.card-header {
    color: black;
    border-bottom: #f25c54 solid .5px;
    background-color: transparent;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    font-weight: bolder;
}

.form-control:focus {
    border-color: #f25c54;
    box-shadow: 0 0 0 0.2rem #f7b267

}

.badge-primary {
    color: black;
    background-color: #F7b267
}

.badge-pill {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.badge {
    font-size:100%;
    margin-top: 1%;
}

a.badge-primary:focus, a.badge-primary:hover {
    color : #f25c54; 
    background-color: #f7b267
}

.btn {
    text-decoration: none;
    background-color: #f25c54; 
    border: none;
    color: black;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}

.btn-primary:hover {
    background-color: #f27059;
    color: black;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: #f7b267;
    border-color: #f25c54;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #f7b267;
}

.button {
    width: 100%
}