html, body {
    /* background-color: #f7b267; */
    background-color: white;
    font-family: 'Chela One', cursive;
    height: 100%;
}
/* ffdeb9 */
.nav {
    background-color: white;
    border-bottom: #f25c54 solid 5px;
}

.lcontainer {
    padding-right: 3%;
    font-size: 20px;
}

a:hover {
    text-decoration: none;
    color: #f27059
}

.links {
    text-decoration: none;
    color: #f25c54;
}

.motto {
    color: #f25c54;
    text-align: center;
    font-size: 25px;
}

.cContainer {
    min-height: 80%;
}

.content {
    overflow: auto;
    padding-bottom: 100px;
}

.footer {
    background-color: white;
    height: 100px;
    position: relative;
    margin-top: -100px;
    border-top: #f25c54 solid 5px;
    text-align: center;
}