body {
    background-color: #f7b267;
    font-family: 'Chela One', cursive;
}

.nav {
    background-color: #f79d65
}

.lcontainer {
    padding-right: 3%;
    font-size: 20px;
}

.links {
    text-decoration-style: none;
    text-decoration: none;
}

.motto {
    color: #f25c54;
    text-align: center;
    font-size: 25px;
}